body {
    background-color: #555;
    background-image: url("../img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-form {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 100vh;
}

.sign-form .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.sign-form .form-signin input {
    background-color: rgb(255 255 255 / 10%);
    border: 4px solid rgb(255 255 255 / 10%);
    color: white;
}

/* change outline color of bootstrap form control */
.sign-form .form-signin input:focus {
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.sign-form .form-signin .checkbox {
    font-weight: 400;
}

.sign-form .form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-floating input {
    box-shadow: none;
    border: 4px solid rgb(255 255 255 / 10%);
}

.form-floating label {
    color: white;
}

.sign-form .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sign-form .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.sign-form .form-signin input[type="number"] {
    margin-bottom: -1px;
    border-radius: 0;
}

.sign-form .form-signin input[type="tel"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.backdrop {
    backdrop-filter: brightness(40%);
    width: 100vw;
    height: 100vh;
}
